/* colors */
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #ffffff;
$gray: #6c757d;
$primary: #0098fd;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark1: #343a40;
$dark0: #18191b;

$light-border: #f0f0f0;
$ant-success: #52c41a;
$white-smoke: #f7f7f8;
$light-green: #52c41a;
$mid-gray: #5c5e65;

/* new */
$main-bg: #f6f3f3;
$bg1: #f2f3f7;
$bg2: #e6e7ed;
$bg3: #f7f7f8;
$bg4: #fefefe;
$bg5: #fafafa;
/* $btn-blue: #1972f5; */
$btn-blue: #0098fd;
/* $blue-600: #0098fd; */

$cont-bg: #f2f3f7;
$menu-active: #eeeef0;
$divider-border: #dfe0e5;

$btn-active: #4096ff;
$select-active: #e6f7ff;

/* $dark3: #18191b; */
